.main-block {
  width: 560px;
  height: 560px;
  margin: 30px auto;
  border: 1px solid #929292;
}



.block {
  width: 70px;
  height: 70px;
  float: left;
}

.gray {
  background: #EBEBEB;
}

.white {
  background: #fff;
}

.qwe {
  width: 10px;
  height: 10px;
}

a svg:hover #facebook {
  fill: #FF7042;
}

a {
  outline: none;
  border: 0;
  text-decoration: none;
}

a svg #facebok {
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}